<div class="oekolandbau-container">
  <div class="oekolandbau-section odd">
    <div class="spacer"></div>
    <div class="oekolandbau-content">
      <h1>Ökolandbau</h1>
      <p>
        Seit meiner Ausbildung hat mich die ökologische Landwirtschaft sehr
        interessiert.
      </p>
      <p>
        Im Jahr 2001 haben wir unseren Hof umgestellt und uns dem Bioland
        Verband angeschlossen.. Für uns ein wichtiger Schritt zu mehr
        Nachhaltigkeit. Wir haben in dieser Zeit viel auf unserem Hof verändert.
        ob im Stall oder auf dem Feld. Dabei sehen wir uns nicht im Ziel unserer
        Entwicklung, sondern auf dem Weg.
      </p>
      <p>
        Was Generationen vor uns begonnen und mit viel Fleiß weiter entwickelt
        haben, möchten wir mindestens genau so schön und vielfältig weitergeben.
        Das bedeutet für uns Nachhaltigkeit
      </p>
      <p>
        Zur nachhaltigen Landwirtschaft gehört nicht nur die Arbeit im Stall
        oder auf dem Feld sondern auch die Pflege der Landschaft, das schneiden
        von Gehölzen und die Pflanzung von Bäumen, die unser Landschaftbild
        bereichern
      </p>
    </div>
  </div>
  <div class="oekolandbau-section even" id="biologische-landwirtschaft">
    <div class="spacer"></div>
    <div class="oekolandbau-content">
      <h2>Biologische Landwirtschaft</h2>
      <p>
        Kerngedanke der ökologischen Landwirtschaft ist das Idealbild vom
        Nährstoffkreislauf. Die Nährstoffe aus der Tierhaltung werden auf den
        Acker zurück geführt. Dabei versuchen wir den Dünger so auszubringen,
        das alle Nährstoffe dem Boden und den Pflanzen erhalten bleiben. Durch
        den Anbau von Zwischenfrüchten und mehrjährigen Futterpflanzen werden
        Nährstoffe gebunden und die Bodenfruchtbarkeit verbessert. Daher können
        wir auf den Einsatz von chemisch- synthetischen Düngern verzichten.
      </p>
      <p>
        Durch den Anbau vieler verschiedener Kulturen versuchen wie eine
        biologische Vielfalt zu erreichen, die den Verzicht auf synthetische
        Pflanzenschutzmittel möglich macht. Neben der ausgedehnten Fruchtfolge
        sind auch Randstreifen und Hecken von großer Bedeutung. Dies trägt auch
        zum Bild einer vielfältigen Kulturlandschaft in unserer Region bei.
      </p>
      <p>
        In der Tierhaltung ist uns eine artgerechte Tierhaltung wichtig. Tiere
        sind für uns nicht nur Produktionsfaktor sondern auch Mitgeschöpfe. Ein
        respektvoller Umgang mit allen Tieren ist uns wichtig. Trotz aller
        Vorsorge kann auch auf unserem Betrieb mal ein Tier erkranken. Diese
        Tiere werden selbstverständlich in Zusammenarbeit mit unserem Tierarzt
        behandelt um eine schnelle Genesung zu erreichen und dem Tier unnötiges
        Leid zu ersparen. Dabei geben die Richtlinien unseres Verbandes vor,
        welche Medikamente zu bevorzugen sind, bzw. welche Wirkstoffe verboten
        sind. Im Anschluß an eine Behandlung ist eine Wartezeit einzuhalten, die
        mindestens der doppelten gesetzlichen Wartezeit entspricht
      </p>
    </div>
  </div>
</div>
