html,body {
    height:100%;
    padding:0;
    margin:0;
}

#content{
    height: -moz-calc(100vh - (64px + 64px));
    height: -webkit-calc(100vh - (64px + 64px));
    height: calc(100vh - (64px + 64px));
    margin: 0 auto;
}