<div class="hof-container">

    <div class="spacer"></div>


    <div class="hof-content">
        <h1>Der Hof</h1>

        <p>Zu unserem Betrieb gehören etwa 125 ha Flächen.</p>
        <p>Etwa 55 ha davon sind absolutes Grünland; dass bedeutet, die Flächen sind nicht zum Ackern geeignet weil sie zu steil sind, im Überschwemmungsgebiet liegen oder weil die Böden zu karg sind. Einige unserer Flächen stehen auch unter Naturschutz.</p>
        <p>Diese Flächen lassen sich sinnvoll nur mit Wiederkäuern nutzen. Darum sind wir seit vielen Generationen ein Milchviehbetrieb.</p>
        <p>
            Diese Flächen lassen sich sinnvoll nur mit Wiederkäuern nutzen. Darum sind wir seit vielen Generationen ein Milchviehbetrieb.<br/>
            Die Wichtigste Kultur ist das Kleegras. Es wächst 2 Jahre lang und bringt uns Futter für die Kühe. In dieser Zeit sammelt der Klee viele Nährstoffe aus dem Boden und der Luft und stellt sie den Nachfolgenden Pflanzen zur Verfügung. Danach folgt die Nährstoffliebende Kultur Silomais. Sie ist in der Lage den Stickstoff aus dem Boden in maximalen Energieertrag umzusetzen.. In den folgenden Jahren wechseln sich dann verschiedene Winter- und Sommergetreide ab. Im Herbst werden zwischen den Hauptkulturen auch noch Zwischenfrüchte angebaut, die das Bodenleben fördern sollen und die Pflanzengesundheit fördern.
        </p>
    </div>

</div>