<div class="ueber-uns-container">
  <div class="spacer"></div>
  <mat-card class="ueber-uns-card">
    <mat-card-header><h1>Über uns</h1></mat-card-header>

    <mat-card-content>
      <p>
        Seit 2001 arbeiten wir nach den Richtlinien des Bioland Verbandes.
        UnsereMilch vermarkten wir über die Molkerei Söbbeke.
      </p>

      <p>
        Im Jahr 1999 sind wir angefangen unseren Betrieb aus dem Ortskern von
        Ottbergen auszusiedeln. In der beengten Ortslage gab es keine weiteren
        Entwicklungsmöglichkeiten.
      </p>

      <p>
        So wurde zunächst der Kuhstall mit den dazugehörigen Lagermöglichkeiten
        für Gülle und Silagen im Feld neu gebaut. In den darauf folgenden Jahren
        wurden nach und nach auch das Wohnhaus und Ställe für das Jungvieh am
        neuen Standort errichtet.
      </p>

      <p>
        Wir bewirtschaften den Betrieb als Familienbetrieb mit drei
        Generationen. Außerdembeschäftigen wir noch einen Auszubildenden.
      </p>
    </mat-card-content>
  </mat-card>
</div>
