<div class="tierhaltung-container">
  <div class="spacer"></div>

  <div class="tierhaltung-content">
    <h1>Tierhaltung</h1>

    <p>
      Auf unserem Hof halten wir etwa 80 Milchkühe der Rasse Holstein Friesian
      und einige Kreuzungen. Außerdem haben wir noch etwa 60 Stück Jungvieh
    </p>
    <p>
      Die Tiere haben vom Frühjahr bis zum Herbst Weidegang. Im Winter leben die
      Tiere in großzügigen Offenställen, in denen sie alle natürlichen
      Verhaltensweisen ausleben können.
    </p>
    <p>
      Der wertvolle Dünger von den Tieren wird auf unseren Flächen verteilt und
      steht dann den Pflanzen wieder zur Verfügung.
    </p>
  </div>
</div>
